.explore-cuisineType_section {
    width: 80%;
    padding: 5vh 0 10vh;
    margin: 0vh auto;
    text-align: center;
    h2 {
        font-size: 3.75rem;
        font-weight: 700;
        color: rgb(25, 25, 25);
    }
    .subHeading {
        font-family: "SUSE", sans-serif;
        font-size: 1.5rem;
        letter-spacing: -0.5px;
        color: rgb(150, 150, 150);
        width: 50%;
        margin: 0 auto;
        text-wrap: balance;
    }
    .images-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        margin: 2.5rem auto;
        .cusisineType-thumbnail {
            position: relative;
            border-radius: 12px;
            width: 25%;
            height: 25%;
            aspect-ratio: 1/1;
            background-size: cover;
            overflow: hidden;
            border: 1px solid lightgray;
            &:hover {
                .image-overlay {
                    transform: translate(-50%, 0%);
                    opacity: 1;
                }
            }
            .image-overlay {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 100%);
                background-color: rgba(200, 200, 200, 0.5);
                width: 102%;
                height: 27.5%;
                backdrop-filter: blur(5px);
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                z-index: 10;
                opacity: 0;
                transition: transform .2s ease-in-out, opacity .25s ease;
                p {
                    font-family: "SUSE", sans-serif;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: rgb(20, 20, 20);
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}