footer {
    padding: 7.5vh 0 2rem;
    .footer_content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        .links-wrapper {
            //width: 25%;
            h6 {
                font-family: "SUSE", sans-serif;
                font-size: 19px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 0.75rem;
                letter-spacing: -0.25px;
            }
            p {
                font-family: "SUSE", sans-serif;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.25px;
                padding: 2px 0;
                margin: 3px 0;
                color: rgb(125, 125, 125);
                width: fit-content;
                transition: .2s ease;
                transition-delay: 0.05s;
                &:hover {
                    color: rgb(50, 50, 50);
                }
            }
            .icons-wrapper {
                display: flex;
                gap: 1.75rem;
                padding-top: 0.25rem;
                .icon {
                    font-size: 24px;
                    will-change: transform;
                    cursor: pointer;
                    transition: .25s ease;
                    transition-delay: 0.05s;
                    &:hover {
                        color: rgb(45, 45, 45);
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    footer {
        .footer_content {
            width: 87.5%;
        }
    }
}

@media screen and (max-width: 1450px) {
    footer {
        .footer_content {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1370px) {
    footer .footer_content .links-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1300px) {
    footer {
        .footer_content {
            width: 90%;
        }
    }
}

@media screen and (max-width: 650px) {
    footer {
        padding-top: 0;
        .footer_content {
            flex-direction: column;
            align-items: center;
            .links-wrapper {
                width: 100%;
                text-align: center;
                margin-bottom: 1.25rem;
                h6 {
                    margin-bottom: 0.25rem;
                    letter-spacing: 0;
                }
                p {
                    font-size: 16px;
                    margin: 3px 0;
                }
                .icons-wrapper {
                    justify-content: center;
                    gap: 2rem;
                    margin-top: 0.5rem;
                    .icon {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}