footer {
    padding: 7.5vh 0 2.5vh;
    .footer_content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        .links-wrapper {
            width: 25%;
            h6 {
                font-family: "SUSE", sans-serif;
                font-size: 19px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 0.75rem;
                letter-spacing: -0.25px;
            }
            p {
                font-family: "SUSE", sans-serif;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.25px;
                padding: 2px 0;
                margin: 3px 0;
                color: rgb(120, 120, 120);
            }
            .icons-wrapper {
                display: flex;
                gap: 1.75rem;
                padding-top: 0.25rem;
                .icon {
                    cursor: pointer;
                    font-size: 22px;
                    transition: .15s ease-in-out;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }
}