header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(3px);
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
        margin: 0.75rem auto;
    }
    .name {
        font-family: 'Instrument Serif', serif;
        font-size: 1.75rem;
        font-weight: 600;
        font-style: italic;
        letter-spacing: 0.75px;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        width: 33.333%;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.75rem;
        }
    }
    .links-wrapper {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.25rem;
        padding: 6px 1rem;
        border-radius: 8px;
        background-color: rgb(225, 225, 225);
        background-color: rgba(0, 0, 0, 0.9);
        color: #FFF;
        a {
            font-size: 15px;
            font-weight: 500;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border-radius: 8px;
            transition: .15s ease-in-out;
            letter-spacing: -0.25px;
            text-transform: uppercase;
            &:hover {
                color: #000;
                background-color: lightgreen;
            }
        }
    }
    .buttons-wrapper {
        width: 33.333%;
        display: flex;
        justify-content: flex-end;
        button {
            font-size: 16px;
            font-weight: 500;
            outline: none;
            padding: 10px 1.5rem;
            cursor: pointer;
            transition: .15s ease-in-out;
        }
        .contact-btn {
            color: #000;
            border-radius: 50px;
            border: none;
            margin-right: 1rem;
            &:hover {
                background-color: rgb(200, 200, 200);
            }
        }
        .-btn {
            background-color: rgb(25, 25, 25);
            color: #FFF;
            border: 1px solid rgb(25, 25, 25);
            border-radius: 12px;
            &:hover {
                background-color: rgb(55, 55, 55);
            }
        }
    }
}