.recipes-list_section {
    width: 80%;
    padding: 15vh 0 0;
    margin: 10vh auto;
    position: relative;
    .heading {
        font-family: 'Instrument Serif', serif;
        font-size: 5rem;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-align: center;
        line-height: 1.1;
        color: rgb(0, 60, 0);
    }
    .subHeading {
        font-family: "SUSE", sans-serif;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -0.5px;
        color: rgb(150, 150, 150);
        line-height: 1.2;
        margin: 0 auto 5rem;
        text-align: center;
        &:hover {
            span::after {
                transform: scaleX(1);
            }
        }
        span {
            font-weight: 600;
            color: rgb(72, 151, 72);
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: rgb(89, 175, 89);
                bottom: -2px;
                left: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.275s cubic-bezier(0.4, 0, 0.2, 1);
            }
            &:nth-of-type(2)::after {
                transition-delay: 0.2s;
            }
        }
    }
    .heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.75rem;
        position: relative;
        h2 {
            font-size: 2.25rem;
            font-weight: 600;
            letter-spacing: -0.5px;
            .icon {
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        label {
            position: relative;
            display: flex;
            border-radius: 8px;
            border: 1px solid rgb(125, 125, 125);
            padding: 10px 10px;
            text-align: left;
            user-select: none;
            transition: .1s ease-in-out;
            &:hover {
                border-color: rgb(90, 90, 90);
                .search-icon {
                    color: rgb(75, 75, 75);
                }
            }
            &:focus-within {
                border-color: #000;
                .search-icon {
                    color: #000;
                }
            }
            input {
                display: flex;
                background-color: transparent;
                outline: none;
                border: none;
                font-size: 14px;
                font-weight: 500;
                &::-webkit-calendar-picker-indicator {
                    opacity: 0 !important;
                }
            }
            .search-icon {
                font-size: 18px;
                position: absolute;
                top: 53%;
                right: 0;
                transform: translate(-50%, -50%);
                color: rgb(100, 100, 100);
                transition: 0.2s ease-in-out;
            }
        }
    }
    .filteredCategories-wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin: 1rem 0;
        p {
            font-family: "Open Sans", sans-serif;
            font-family: "SUSE", sans-serif;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -0.75px;
            color: rgb(165, 165, 165);
            transition: .15s ease-in-out;
            cursor: pointer;
            &.active {
                color: #000;
                text-decoration: underline;
            }
        }
    }
    .recipes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2%;
        .empty-state {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.25px;
            background-color: rgb(163, 241, 163);
            color: rgb(0, 50, 0);
            border-radius: 50px;
            padding: 7px 1rem;
            border: 1px solid rgb(0, 50, 0);
        }
        .recipe_card {
            background-position: center;
            background-size: cover;
            //width: calc(33.333% - 1rem);
            width: 32%;
            height: 21rem;
            padding: 0.75rem;
            margin-bottom: 0.75rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            border: 1px solid rgb(210, 210, 210);
            border-radius: calc(8px + 10px); //calc 12 + 10
            background-color: #FFF;
            position: relative;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.03);
            transition: .2s ease;
            .toast {
                background-color: rgb(220, 220, 220);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
                text-align: left;
                position: fixed;
                right: 1.25rem;
                border-radius: 10px;
                padding: 7px 1rem 7px 0.5rem;
                //padding: 1rem 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.75rem;
                transform: translateX(150%);
                transition: transform 0.25s ease;
                &.active {
                    transform: translateX(0);
                    transition: transform 0.275s ease-in;
                }
                &.success {
                    z-index: 10001;
                    bottom: 1rem;
                    border-left: 10px solid rgb(0, 135, 0);
                    .icon {
                        color: rgb(0, 135, 0);
                    }
                }
                &.remove {
                    z-index: 9999;
                    bottom: calc(1rem + 60px); // Position above added toast
                    border-left: 10px solid #d32f2f;
                    .icon {
                        color: #d32f2f;
                    }
                }
                .icon {
                    font-size: 20px;
                }
                h6 {
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: -0.5px;
                    color: rgb(25, 25, 25);
                    line-height: 1.2;
                }
                p {
                    font-size: 13px;
                    letter-spacing: -0.4px;
                    color: rgb(115, 115, 115);
                    line-height: 1.2;
                    span {
                        font-weight: 600;
                        color: rgb(35, 35, 35);
                    }
                }
            }
            .favorite-wrapper {
                position: absolute;
                transform: translate(-0.75rem, 0.75rem);
                top: 0;
                right: 0rem;
                background-color: rgb(225, 225, 225);
                border: 1px solid rgb(175, 175, 175);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                border-radius: 8px;
                opacity: 0;
                cursor: pointer;
                transition: opacity .275s ease-in-out, border-color .175s ease-in-out, background-color .175s ease-in-out;
                &:hover {
                    border-color: rgb(100, 100, 100);
                    background-color: #FFF;
                    .fav-icon {
                        color: red;
                        transform: scale(1.1);
                    }
                }
                .fav-icon {
                    font-size: 18px;
                    transition: .18s ease-in-out;
                }
            }
            &:hover {
                border-color: rgb(180, 180, 180);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.05);
                .favorite-wrapper {
                    opacity: 1;
                }
                .categories-wrapper {
                    p {
                        border-color: rgb(150, 150, 150);
                        color: rgb(75, 75, 75);
                    }
                }
            }
            .recipe-thumbnail {
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 50%;
                transform: translate(-25%, -50%);
                object-fit: contain;
                //object-fit: cover;
                //padding-bottom: 1rem;
                cursor: pointer;
            }
            .categories-wrapper {
                display: flex;
                z-index: 10;
                gap: 6px;
                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(240, 240, 240);
                    border: 1px solid rgb(200, 200, 200);
                    border-radius: 10px;
                    padding: 4px 6px;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgb(100, 100, 100);
                    gap: 0.25rem;
                    letter-spacing: -0.5px;
                    transition: .15s ease-in-out;
                    &:hover {
                        border-color: rgb(75, 75, 75);
                        cursor: pointer;
                    }
                    &:nth-of-type(2) {
                        text-transform: capitalize;
                    }
                    .time-icon {
                        font-size: 17px;
                        color: rgb(50, 50, 50);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .details-container {
                z-index: 10;
                .recipe-name {
                    display: flex;
                    font-size: 17px;
                    font-weight: 600;
                    letter-spacing: -0.4px;
                    margin-bottom: 6px;
                    cursor: pointer;
                }
                .details-wrapper {
                    font-size: 15px;
                    letter-spacing: -0.5px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    .calories {
                        display: flex;
                        align-items: center;
                        gap: 0.25rem;
                        margin-right: 4px;
                        .kcal-icon {
                            font-size: 17px;
                            color: rgb(219, 86, 38);
                        }
                    }
                    span {
                        color: rgb(140, 140, 140);
                    }
                }
            }
        }
    }
    .more_recipes {
        font-size: 15px;
        font-weight: 500;
        border-bottom: 1px solid;
        width: fit-content;
        display: flex;
        margin: 0.75rem auto 0;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: .125s ease-in-out;
        &:hover {
            color: rgb(100, 100, 100);
        }
    }
}