.single-recipe_section {
    margin: 15rem auto;
    width: 80%;
    text-align: center;
    .upper_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        aside {
            //border: 1px solid red;
            width: 60%;
            display: flex;
            justify-content: center;
            .image-wrapper {
                border: 1px solid red;
                // background-color: gray;
                border-radius: 12px;
                height: 50vh;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: visible;
                    object-position: center;
                    //border: 1px solid red;
                }
            }
        }
        main {
            //border: 1px solid red;
            width: 40%;
            text-align: left;
            .tags-wrapper {
                display: flex;
                gap: 5px;
                p {
                    font-family: 'Lora', serif;
                    font-family: 'SUSE', sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: -0.25px;
                    line-height: 1.1;
                    padding: 2px;
                    transition: .14s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        transform: translateY(-1px);
                    }
                }
            }
            .recipe-name {
                font-family: 'Lora', serif;
                font-size: 2.75rem;
                font-weight: 700;
                letter-spacing: -0.5px;
                line-height: 1.15;
                margin: 0 0 0.5rem;
                text-wrap: nowrap;
            }
            .basic-info_wrapper {
                display: flex;
                flex-direction: row;
                gap: 6px;
                p {
                    background-color: rgb(240, 240, 240);
                    border: 1px solid rgb(175, 175, 175);
                    border-radius: 8px;
                    padding: 5px 8px;
                    font-size: 15px;
                    color: rgb(50, 50, 50);
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    letter-spacing: -0.25px;
                    transition: 0.15s ease-in-out;
                    cursor: pointer;
                    &:hover {
                        color: #000;
                        border-color: rgb(125, 125, 125);
                    }
                }
            }
            .detailed-info_wrapper {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                p {
                    font-family: 'SUSE', sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.22;
                    span {
                        font-weight: 400;
                        color: rgb(150, 150, 150);
                    }
                }
            }
            .ingredients-heading {
                font-family: 'SUSE', sans-serif;
                margin-top: 1rem;
                margin-bottom: 0.25rem;
                font-size: 22px;
                font-weight: 600;
                letter-spacing: -0.5px;
            }
            .ingredients-wrapper {
                list-style: circle;
                li {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 2px 0;
                    margin-left: 1.5rem;
                    padding: 1px 0;
                    width: fit-content;
                    color: rgb(35, 35, 35);
                    position: relative;
                    cursor: pointer;
                    transition: .15s ease-in-out;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-100%, 0%) scaleX(0);
                        width: 100%;
                        height: 2px;
                        background-color: rgb(35, 35, 35);
                        transition: .15s ease-in-out;
                    }
                    &:hover {
                        color: rgb(105, 105, 105);
                    }
                    &.active {
                        //text-decoration: 2px line-through;
                        opacity: 0.35;
                        &::after {
                            transform: translate(-50%, 0%) scaleX(1);
                        }
                        &:hover {
                            opacity: 1;
                        }
                        &::marker {
                            color: lime;
                        }
                    }
                    &::marker {
                        color: rgb(0, 0, 0);
                        transition: .15s ease-in-out;
                    }
                }
            }
        }
    }
    article {
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: justify;
        width: 90%;
        .preparation_heading {
            font-family: 'Lora', serif;
            font-size: 3rem;
            font-weight: 700;
            margin: 0 auto 0rem;
        }
        .subHeading {
            font-size: 20px;
            font-weight: 400;
            color: rgb(155, 155, 155);
            margin: 0 auto 3rem;
            letter-spacing: -0.75px;
            text-align: center;
        }
        .steps-wrapper {
            .step {
                font-family: 'SUSE', sans-serif;
                font-size: 24px;
                font-weight: 500;
                color: rgb(35, 35, 35);
                margin: 3px 0;
                padding: 1px 0;
                width: fit-content;
                letter-spacing: -0.25px;
                gap: 0.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: 0.175s ease-in-out;
                span {
                    letter-spacing: -0.75px;
                    color: rgb(185, 185, 185);
                    user-select: none;
                }
                &.done {
                    // color: rgb(75, 75, 75);
                    opacity: 0.5;
                }
                .icon {
                    font-size: 22px;
                    opacity: 0;
                    color: rgb(0, 100, 0);
                    transition: 0.125s ease-in-out;
                    &.done {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.recommendedRecipes_section {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    h2 {
        font-family: 'Lora', serif;
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0 auto 0rem;
    }
    .subHeading {
        font-size: 20px;
        font-weight: 400;
        color: rgb(155, 155, 155);
        margin: 0 auto 3rem;
        letter-spacing: -0.75px;
        text-align: center;
    }
}